---
import { X } from "react-feather";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Sobre mí">
  <main
    class="flex xl:flex-row flex-col gap-4 p-4 m-4 xl:h-[870px] bg-[#0c0c0c] border-2 border-white/20 rounded-3xl"
    transition:animate="fade"
  >
    <div class="w-full flex flex-col items-center p-4 gap-4">
      <a
        href="/"
        class="rounded-full border-2 border-[#333232] p-3 hover:bg-[#1c1d1d] transition-colors duration-300 ease-in-out"
        ><X /></a
      >
    </div>
  </main>
</Layout>
