---
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <slot />
    <style is:global>
      @import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
      :root {
        font-family: "DM Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: normal;
        font-style: normal;
      }
      body {
        @apply bg-[#0c0c0c] dark:bg-[#f4f5f6] text-[#cccdcd] dark:text-[#1e1f1e] transition-colors duration-100 ease-linear relative p-4;
      }
      main {
        @apply transition-colors duration-100 ease-linear;
      }
      .section {
        @apply bg-[#181818] dark:bg-[#fefeff] text-[#cccdcd] dark:text-[#1e1f1e] rounded-[1.75rem] md:p-8 p-6 border border-[#323030] dark:border-[#cfd2d5] transition-colors duration-100 ease-linear;
      }
      .bg-noise {
        @apply left-0 top-0 absolute z-20 opacity-[0.06] w-full min-h-full bg-[url(https://framerusercontent.com/images/rR6HYXBrMmX4cRpXfXUOvpvpB0.png)] bg-[size:64px]  bg-repeat pointer-events-none ;
      }
    </style>
  </body>
</html>
